p{
    color: red;
}
h1{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    color: gray;
}
body {
    background-image: url('olympic-bright-circle-colorful-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }
    .my-box {
        width: 250px;              /* Box width */
        height: 60px;             /* Box height */
        background-color: #1a1a1a; /* Background color */
        border: 5px solid #ff3a3a;    /* Border around the box */
        padding: 40px;             /* Space inside the box */
        margin: 20px auto;         /* Center horizontally */
        text-align: center;        /* Center text inside */
        box-shadow: 7px 7px 10px rgb(255, 15, 15); /* Shadow effect */
        border-radius: 10px;       /* Rounded corners */
        float: left;
    }
    button{
        width: 200px;
        height: 50px;
        background-color: grey;
    }