p{
    color: red;
}
h1{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    color: gray;
}
body {
    background-image: url('letöltés\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    }