p{
    color: red;
}
h1{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    color: gray;
}
body {
    background-image: url('letöltés\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    }
    .my-box {
        width: 400px;              /* Box width */
        height: 250px;             /* Box height */
        background-color: #1a1a1a; /* Background color */
        border: 2px solid #ff6262;    /* Border around the box */
        padding: 20px;             /* Space inside the box */
        margin: 20px auto;         /* Center horizontally */
        text-align: center;        /* Center text inside */
        box-shadow: 4px 4px 10px rgba(0,0,0,0.2); /* Shadow effect */
        border-radius: 10px;       /* Rounded corners */
        float: left;
    }
    button{
        width: 300;
        height: 200;
    }