p{
    color: rgba(255, 0, 0, 0.932);
}
h1{
    font-size: 250%;
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 97, 97);
    text-shadow: 0 0 3px rgba(255, 0, 0, 0.95), 0 0 12px rgba(255, 62, 62, 0.7), 0 0 20px rgba(218, 17, 17, 0.836);
}
body {
    background-image: url('olympic-bright-circle-colorful-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }
    .my-box {
        width: 250px;              /* Box width */
        height: 60px;             /* Box height */
        background-color: #1a1a1a; /* Background color */
        border: 5px solid #ff3a3a;    /* Border around the box */
        padding: 40px;             /* Space inside the box */
        margin: 20px auto;         /* Center horizontally */
        text-align: center;        /* Center text inside */
        box-shadow: 7px 7px 10px rgb(255, 15, 15); /* Shadow effect */
        border-radius: 10px;       /* Rounded corners */
        float: left;
    }
    button{
        width: 200px;
        height: 50px;
        background-color: grey;
    }
    h2{
        font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    color: rgb(172, 28, 255);
    text-shadow: 0 0 3px rgba(64, 49, 206, 0.459), 0 0 12px rgba(11, 8, 165, 0.7), 0 0 20px rgba(94, 6, 194, 0.897);
    }
    h3{
        font-size: xx-large;
        font-style: italic;
        font-weight: bold;
        color: rgb(94, 255, 0);
        text-shadow: 0 0 3px rgba(89, 109, 0, 0.95), 0 0 12px rgba(65, 255, 48, 0.7), 0 0 20px rgba(173, 255, 22, 0.836);
    }
    #okori{
        font-style: oblique;
        color: rgb(162, 0, 255);
        font-size: 150%;
        text-align: justify;
    }
    #ujkori{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(0, 197, 0);
        font-size: 125%;
        font-style: italic;
        text-align: justify;
    }
    #rovid{
        color: orange;
    }
    ul{
        color: orange;
    }
    #hosszuhaszontalan{
        color: white;
        font-size: 150%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style: italic;
    }
    #NOB{
        text-decoration: underline overline;
        color: white;
    }